
/*
  doesnt fucking work
*/

body {
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .header {
    background-color: white;
    color: darkslategrey;
    text-align: left; 
    padding: 1em 10em; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
  }
  
  .footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em 0;
    font-size: 1.2em;
  }
  
  main {
    flex: 1; 
    padding: 1em;
    max-width: 65pc;
    margin: auto;
    font-size: 1.2em;
  }
  
  .blog-list {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2em;
  }
  
  .blog-post {
    border-bottom: 2px solid #ddd;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
  }
  
  .post-image {
    width: 100%;
    height: auto;
    margin: 1em 0;
    margin-bottom: 0.2em; 
  }
  
  @media (min-width: 600px) {
    .blog-list {
        grid-template-columns: 1fr 1fr;
    }
  
    .header {
        padding: 1em 10em; 
    }
  }
  
  