.header {
    background-color: white;
    color: darkslategrey;
    text-align: left; 
    padding: 1em 10em; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em 0;
    font-size: 1.2em;
}
  
/*??*/
.blog-list {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2em;
}
  
.blog-post {
    border-bottom: 2px solid #ddd;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
}
  
/*idk*/
@media (min-width: 600px) {
    .blog-list {
        grid-template-columns: 1fr 1fr;
    }
  
.header {
        padding: 1em 10em; 
    }
}
  
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.page-link {
    margin: 0 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
}

.page-link:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.page-link:hover:not(:disabled) {
    background-color: #ddd;
}

.page-link.active {
    background-color: #333;
    color: white;
    font-weight: bold;
}