.header {
    background-color: white;
    color: darkslategrey;
    text-align: left; 
    padding: 1em 10em; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em 0;
    font-size: 1.2em;
}
  
/*??*/
.blog-list {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2em;
}
  
.blog-post {
    border-bottom: 2px solid #ddd;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
}
  
/*idk*/
@media (min-width: 600px) {
    .blog-list {
        grid-template-columns: 1fr 1fr;
    }
  
.header {
        padding: 1em 10em; 
    }
}
  
  