@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');



/* src/App.css */
body {
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body covers the entire viewport */
}

.header {
  background-color:white;
  color: darkslategrey;
  text-align: left; /* Adjust text alignment to left */
  padding: 1em 10em; /* Adjust padding on left and right sides */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
}

.footer {
  background-color:white;
  color: black;
  text-align: center;
  padding: 1em 0;
  font-size: 1.2em;
}

main {
  flex: 1; /* Grow to fill remaining space */
  padding: 1em;
  max-width: 65pc;
  margin: auto;
  font-size: 1.2em;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 3.5em;
}

.blog-post {
  border-bottom: 2px solid #ddd;
  padding-bottom: 1em;

}

.post-image {
  width: 100%;
  height: auto;
  margin: 1em 0;
  margin-bottom: 0.2em; /* Adjust margin bottom to your desired spacing */

}


@media (min-width: 600px) {
  .blog-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .blog-post {
      flex: 1 0 45%;
      margin-bottom: 1em;
      border-bottom: none;
      padding-bottom: 0;
  }
}


a{
  color: darkslategrey;
}

h2{
  font-family: 'EB Garamond', serif;
  font-size:1.3em;
}

