@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/*all under h and f*/
main {
  flex: 1; /* Grow to fill remaining space */
  padding: 1em;
  max-width: 65pc;
  margin: auto;
  font-family: 'EB Garamond', serif;
  font-size: 1.2em;
}

/* title content*/
body {
  font-size: 1em;
  justify-content: center;
}

.footer {
  background-color:white;
  color: darkslategrey;
  text-align: center;
  font-family: 'EB Garamond', serif;
}

/*divs*/
.blog-list {
  gap: 5em;
}

/*mobile*/
.blog-post {
  border-bottom: 2px solid darkgrey;
}

/*title to content spacing*/
.blog-post h2 {
  font-size:1.4em;
  margin-bottom: 0.2em;
}

/*content line spacing */
.blog-post p {
  margin-top: 0.5em; 
  line-height: 1.5; 
}

/*image spacing*/
.post-image {
  width: 100%;
  height: auto;
  margin: 1em 0;
  margin-bottom: 0.2em; 
}

@media (min-width: 600px) {
  .blog-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .blog-post {
      flex: 1 0 45%;
      margin-bottom: 1em;
      border-bottom: none;
      padding-bottom: 0;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 1em 1.6em; 
    font-size: 0.8em; 
    color: darkslategrey;
  }
}
